<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terminal Streamer POC</title>
  <style>
    h1 {
      font-size: 36px;
    }

    #form {
      font-family: monospace;
      font-size: 18px;

      text-align: center;
    }

    #terminal {
      display: block;
      margin: 0 auto;
      outline: none;
      font-size: 20px;
      margin-top: 40px;
      font-family: monospace;
      resize: none;
      background-color: #333;
      color: white;
    }
  </style>
</head>
<body>
  <form id="form">
    <h1>Terminal Streamer POC</h1>

    <label for="args">Program arguments</label>
    <input type="text" name="args" placeholder="--args">

    <button type="submit">Run</button>
  </form>

  <textarea id="terminal" readonly rows="15" cols="50">
  </textarea>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
window.onload = function () {
  var socket = io.connect();

  var terminal = document.querySelector('#terminal')
  var button = document.querySelector('#form button[type="submit"]')
  var input = document.querySelector('#form input[name="args"]')

  button.addEventListener('click', function (e) {
    e.preventDefault()

    socket.emit('run', { args: input.value })
  })

  var val = ''
  socket.on('data', function (msg) {
    terminal.value = val += (msg.data + '\n')

    terminal.scrollTop = terminal.scrollHeight
  })
}
</script>
</body>
</html>
